button.close{
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3.5px);
    border: none;
    outline: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border-radius: 200px;
    position: relative;
    width: 34px;
    transition: width 0.5s;
}

button.close p{
    margin: 0;
    position: absolute;
    top: 50%; left: 34px;
    transform: translateY(-50%);
    font-size: 14px;
}
button.close img{
    width: 18px;
    transition: transform 0.5s;
}

button.close:hover > img{
    transform: rotate(-90deg);
}
button.close:hover{
    width: 78px;
}

/* 
<button class="close">
    <img src="./close.svg">
    <p>close</p>
</button>
*/