*{
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;

    font-family: 'Sora', sans-serif;

    --base-text : #000000;
    --grey-text : #c5c5c5;
}

html{
    width: 100%;
    overflow-x: hidden;
}
body{padding: 200px 0;}
main{
    width: calc(100% - 55px);
    margin: 0 auto;
}

article{
    margin-bottom: 160px;
}
article h1{
    color     : var(--base-text);
    font-size : 150px;
    margin-bottom: 10px;
    font-weight: 600;
}

article .project-preview{
    height: 80vh;
    background-color: black;
    border-radius: 30px;
}

article > p {
    color: var(--grey-text);
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    width: 60%;
}

.cont{
    /* background-color: red; */
}

::-webkit-scrollbar {
    display: none;
  }


@media screen and (max-width: 1200px) {
    body{
        /* background-color: rgba(255, 0, 0, 0.208); */
    }
    main h1{
        font-size: 120px;
    }
    article > p {
        width: 90%;
    }
}


*{
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none !important;
}


@media screen and (max-width: 800px) {
    body{
        /* background-color: rgba(0, 60, 255, 0.53); */
    }
    main h1{
        font-size: 80px;
        text-align: center;
    }
    article > p {
        width: 95%;
        font-size: 12px;
        text-align: left;
        text-justify: inter-word;
    }

    article{
        margin-bottom: 100px;
    }
    article .project-preview{
        height: 50vh;
    }

    footer{
        transform: scale(0.7);
    }
}
/* @media screen and (max-width: 650px){
    #about .cont{
        transform: scale(0.8);
    }
} */

@media screen and (max-width: 400px){
    body{
        /* background-color: rgb(178, 121, 182); */
    }
    main h1{
        font-size: 50px;
        text-align: center;
    }
    main > p {
        font-size: 10px;
        text-align: left;
    }
    footer{
        transform: scale(0.6);
    }

    body{padding: 100px 0;}

    #bank .cont{
        gap: 10px !important;
    }
}