#bank .project-preview{
    display: flex;
    align-items: center;
    position: relative;
}


#bank .project-preview .cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 65%;
    /* background-color: red; */
    margin: 0 auto;
    gap: 30px;
}
#bank .cont img{
    opacity: 0;
    transition: opacity 1s, transform 1s;
}
#bank .cont img:nth-child(2){
    opacity: 1;
}

#bank .project-preview:hover button.see{width: 200px;}