#kronos .project-preview{
    background-color: black;
    position: relative;
    z-index: 200;
}

#kronos .cont{
    height: 65%;
    width: fit-content;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
#kronos .project-preview .cont img{
    height: 100%;
}
#kronos .project-preview .glow{
    width: 100%;
    max-width: 500px;
    height: 50px;
    top: 10px; left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(80px);
    position: absolute;
    z-index: -1;
}

#kronos .project-preview:hover h1{
    opacity: 1;
    transform: translate(-50%, -80%) scale(1.2);
}

#kronos .project-preview:hover button.see{width: 200px;}