#shorts div.row-cont{
    width  : 100%;
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    animation: sqash-down 0.5s ease-in-out 0s forwards;
}
#shorts div.col-cont{
    /* background-color: blue; */
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

#shorts div.col-cont:first-child{
    animation: sqash-right 0.5s ease-in-out 0s forwards;
    /* background-color: green; */
}

#shorts div.sh-project-preview{
    background-color: rgba(236, 0, 0, 0.2);
    border-radius: 20px;
}
