#helium div.project-preview{position: relative;}


#helium .cont{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */

    height: 65%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
#helium img{
    transition: transform 1s ease;
}

#helium img.center{
    
    z-index: 10;
}

#helium img.left{
    transform:  translateX( -100%) translateY(0%);
    opacity: 0;
}
#helium img.right{
    transform:  translateX( 100%) translateY(0%);
    opacity: 0;
}